# Ignore Virtual Environment
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# IMPORTANT: Ignore your local dataset for privacy
dataset/
data/

# Ignore the trained model weights if the file is larger than 100MB 
# (GitHub blocks files larger than 100MB)
*.h5
*.keras

# Ignore OS specific files
.DS_Store
Thumbs.db
